@import 'normalize.scss';
:root {
  // -------------------MAIN COLORS VARIABLES-------------------
  --gx-color-white: #fff;
  --gx-color-primary: #38455d;
  --gx-color-primary2: #4f647b;
  --gx-transition-short: 0.15s;
  --gx-color-button-hover: #5eaeff;
  --gx-color-gray: #adb6bd;
  --gx-color-blue: #007eff;
  --gx-color-stroke: #dcdfe8;
  
  // -------------------SCROLLBAR VARIABLES-------------------
  --gx-scrollbar-track-color: transparent;
  --gx-scrollbar-thumb-color: var(--gx-color-input-hover);
  --gx-scrollbar-width: 4px;
  --gx-scrollbar-height: 4px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: var(--gx-color-primary);
  @include font(16);
  padding: 0;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--gx-color-blue);
  text-decoration: none;
  &:hover,
  &:active {
    color: var(--gx-color-button-hover);
  }
}

details summary::-webkit-details-marker {
  display: none;
}

.hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
}


.mainContainer {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
}