@import '../../../styles/variables/index.scss';

.details {
    &__summary {
      width: 100%;
      border: none;
      cursor: pointer;
      padding: 18px 20px;
      background-color: transparent;
      
      @include flex(lc);
  
      &[data-animation = "true"] {
        -moz-animation-duration: 0.7s;
        -webkit-animation-duration: 0.7s;
        -moz-animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
      }
    }
  }
  