.details {
  background-color: var(--gx-color-white);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }

  &[open] > .details__summary > .details__summary_icon {
    color: var(--gx-color-primary2);
    transform: rotate(-180deg);
    transition: var(--gx-transition-short) transform ease;
  }

  &[open] > .details__content {
    display: block;
  }
}
